<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
                <a class="nav-link" routerLink="/cursos" routerLinkActive="active">Cursos</a>
            </div>
        </div>
    </div>
</nav>
<router-outlet />


<!-- <app-data-binding></app-data-binding>
<app-ciclo [valorInicial]="valor" *ngIf="!deletarCiclo" ></app-ciclo>
<button (click)="mudarValor()">Mudar Valor</button>
<button (click)="destruirCiclo()">Deletar</button>
<app-diretiva-ngif></app-diretiva-ngif>
<app-diretiva-ngswitch></app-diretiva-ngswitch>
<app-diretiva-ngfor></app-diretiva-ngfor>
<app-diretiva-ngclass></app-diretiva-ngclass>
<app-diretiva-ngstyle></app-diretiva-ngstyle>
<app-operador-elvis></app-operador-elvis>
<app-ng-content>
    <p class="titulo">Este é o título</p>
    <p class="corpo">Este é o corpo</p>
</app-ng-content>
<app-diretivas-customizadas></app-diretivas-customizadas>
<app-cursos></app-cursos>
<app-exemplos-pipes></app-exemplos-pipes> -->